* {
    margin: 0;
    padding: 0;
}

.cls-1 {
    fill: url(#gradient);
}
.outer-container {
    height: 100vh;
    padding: 0 12%;
    background-color: black;
}

.container{
    position: relative;
 }
 .theme-title{
    position: absolute;
    width: 100%;
    text-align: center;
    letter-spacing: 2px;
    color: rgb(255, 255,255);
    top: 30%;
 }
 .section {
    text-align: justify;
 }
 #section-2 p, #right {
    text-align: right;
 }
 #right {
   margin-top:10px;
}
 .main-container {
    padding: 0 15%;
    padding-bottom: 10%;
    font-size: 12px;
    
 }
 .main-container, .container{
   background-color: white;
 }
 .bottom {
    width: 76%;
    position: fixed;
    height: 60px;
    padding-top: 40px;
    background-color: rgb(8, 22, 27);
    color: rgb(255, 255,255);
    text-align: center;
    bottom: 0;
 }
 
 .section-title {
    letter-spacing: 2px;
    margin-bottom: 20px;
    color: rgb(34, 90,100);
 }
 
 